<div class="container" ng-controller="RecipeCtrl">
  <div ng-include="'views/alerts.html'"></div>  
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <div class="row ">
          <div class="col-md-6">
            <a href="#" class="thumbnail">
              <img id="RecepiImg" src="#" alt="your image">
            </a>
            <input type="file" class="form-control" id="Image" files-input ng-model="vm.recipeJson.recipe.url" name = "imgUploader"  onchange="angular.element(this).scope().LoadThumbnail(this)"
              data-max-size="vm.FileSize" accept="image/gif, image/jpeg, image/png image/png image/png">
          </div>
          <div class="col-xs-6 col-md-6">
            <form>
              <div class="form-group">
                <select class="form-control" name="category"ng-options="catalog.id as catalog.name for catalog in vm.Category"
                  ng-model="vm.recipeJson.recipe.category" required>
                </select>
              </div>
              <div class="form-group">
                <input type="text" ng-model="vm.recipeJson.recipe.name" class="form-control" id="Name" placeholder="Nombre">
              </div>
              <div class="form-group">
                  <div class="input-group">
                    <input type="number" ng-model="vm.recipeJson.recipe.prepareTime" class="form-control" id="Time" placeholder="Tiempo">
                    <div class="input-group-addon">min</div>
                  </div>
              </div>
              <div class="form-group">
                <input type="number" ng-model="vm.recipeJson.recipe.diners" class="form-control" id="Diners" placeholder="Comensales">
              </div>
            </form>
          </div>
          <!-- ng-true-value="'YES'" ng-false-value="'NO'" -->
          <div class="col-md-12 form-inline">
              <div class="checkbox col-md-3">
                  <label>
                    <input type="checkbox" ng-model="vm.recipeJson.recipe.session[0]"  ng-init="vm.recipeJson.recipe.session[0]=0" ng-true-value="1" ng-false-value="0"> Desayuno 
                  </label>
              </div>
              <div class="checkbox col-md-3">
                <label>
                  <input type="checkbox" ng-model="vm.recipeJson.recipe.session[1]" ng-init="vm.recipeJson.recipe.session[1]=0" ng-true-value="2" ng-false-value="0"> Comida 
                </label>
              </div>
              <div class="checkbox col-md-3">
                <label>
                  <input type="checkbox" ng-model="vm.recipeJson.recipe.session[2]" ng-init="vm.recipeJson.recipe.session[2]=0" ng-true-value="3" ng-false-value="0"> Cena 
                </label>
              </div>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-md-12 navbar-text">
            <form>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Unidad" disabled ng-model="vm.IngredientSelected.Unit.Name">
              </div>
              <div class="form-group col-md-6">
                <div class="input-group">
                  <input type="number" ng-model="vm.IngredientSelected.Unit.Qty" ng-change="vm.UpdateIngredietnValues(vm.IngredientSelected)" class="form-control"
                    placeHolder="Cantidad"  step="0.1" >
                </div>
              </div>
              <div class="form-group col-md-8">
                <div class="input-group">
                  <input type="text" ng-model="vm.IngredientSelected" placeholder="Escribe algun ingrediente" ng-init="vm.IngredientSelected = ''" ng-change="vm.GetIngredientByName(vm.IngredientSelected)" class="form-control"
                    placeHolder="Ingrediente" uib-typeahead="Ingridients as Ingridients.name for Ingridients in vm.Ingredients | filter:{name:$viewValue}"
                    typeahead-on-select="vm.UpdateInfo(vm.IngredientSelected)" typeahead-show-hint="true" typeahead-min-length="0">
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="input-group">
                  <button type="submit" ng-click="vm.AddIngredient(vm.IngredientSelected)" class="btn btn-primary col-md-12">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-group">
                <ul class="nav nav-pills" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#">{{vm.IngredientDisplayName['energyK'].displayName}}
                      <span class="badge">{{vm.IngredientSelected.energyK}}</span>
                    </a>
                  </li>
                  <li role="presentation" class="active">
                    <a href="#">{{vm.IngredientDisplayName['lipids'].displayName}}
                      <span class="badge">{{vm.IngredientSelected.lipids}}</span>
                    </a>
                  </li>
                  <li role="presentation" class="active">
                    <a href="#">{{vm.IngredientDisplayName['carbohydrates'].displayName}}
                      <span class="badge">{{vm.IngredientSelected.carbohydrates}}</span>
                    </a>
                  </li>
                  <li role="presentation" class="active">
                    <a href="#">{{vm.IngredientDisplayName['protein'].displayName}}
                      <span class="badge">{{vm.IngredientSelected.protein}}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Table -->
            <h4>Ingredientes</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Unidad</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ingredient in vm.recipeJson.recipe_ingredient">
                  <td>{{ingredient.name}}</td>
                  <td>{{ingredient.qty}}</td>
                  <td>{{vm.CatalogArray[vm.UnitsId][ingredient.idUnit].name}}</td>
                  <td>
                    <a ng-click="vm.IngredientconfirmationModal(ingredient,$index)" title="eliminar">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-md-12" >
              <div class="col-md-4" >
                  <ul>
                    <li>{{vm.IngredientDisplayName['lipids'].displayName}} {{vm.recipeJson.nutrition_facts['lipidsCalories']}}</li>
                    <li>{{vm.IngredientDisplayName['protein'].displayName}} {{vm.recipeJson.nutrition_facts['proteinsCalories']}}</li>
                    <li>{{vm.IngredientDisplayName['carbohydrates'].displayName}} {{vm.recipeJson.nutrition_facts['carbohydratesCalories']}}</li>
                  </ul>
                </div>
              <div class="col-md-8" >
                <canvas id="pie"class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colors="colors" chart-options="options"></canvas>
              </div>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-md-12 navbar-text">
            <form class="form-inline">
              <div class="form-group" style="width: 100%">
                <label class="sr-only" for="AddIngridient">Agregar Paso</label>
                <div class="input-group col-md-10">
                  <input type="text" class="form-control" ng-model="vm.StepToAdd" id="AddStep" placeholder="Agregar Paso">
                </div>
                <button type="submit" ng-click="vm.AddStep(vm.StepToAdd)" class="btn btn-primary">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true">
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Pasos</h4>
            <!-- Table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Descripcion</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="step in vm.recipeJson.recipe_procedure ">
                  <td>
                    <input type="number" ng-model="step.orderNo" value="{{step.orderNo}}">
                  </td>
                  <td>{{step.description}}</td>
                  <td>
                    <a ng-click="vm.StepsconfirmationModal($index)" title="eliminar">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                    </a>
                  </td>
                  <td>
                    <a ng-click="vm.updateData(step)" title="editar">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    </p>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
              <button type="button" ng-click="vm.SaveRecepi()" class="btn btn-primary col-md-12">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
              </button>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row well">
        <!-- Table -->
        <table class="table table-striped">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nutrition Facts</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in vm.recipeJson.nutrition_facts">
                <td>{{vm.IngredientDisplayName[key].displayName}}</td>
                <td>{{value}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <!-- <pre>Messasge: {{vm.recipeJson | json}}</pre> -->
</div>